

ul {
	list-style-type: none;
	margin: 0;
	padding: 30px;
	text-align: right;
	border: 1px solid #555;
	overflow: auto;
	background-image: url(MCBanner.jpg);
	
	
}

li {
	display: inline;
	float: left;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	text-shadow: 2px 2px 4px;
	
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	
}

li a:hover {
	background-color: #111;
}



a {
	display: block;
	padding: 8px;
	background-color; #dddddd;
}

.active {
  background-color: #808080;
}

body {
margin: 0;
padding: 0;
font-family: 'Arial', serif;
background-image: linear-gradient(to bottom right, gray , black);
background-repeat: no-repeat;
background-size: cover;



}
	




	

	


	